NODE_ENV=devlopment
PORT=4000

# MongoDB
MONGO_URI=mongodb://localhost:27017/auth-server

# OIDC Provider
OIDC_ISSUER=http://localhost:4000/oidc
OIDC_COOKIE_KEYS=change-this-to-a-strong-random-cookie-secret


# Admin API Key (for client management routes)
ADMIN_API_KEY=

# Global Social Login Credentials (Fallback)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=

# Database Encryption Key (Must be 32 characters for AES-256)
ENCRYPTION_KEY=

# Email Service (Brevo)
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=
BREVO_API_KEY=
